doctype html
html
  head
    title Killionaire
    link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    //link(href='themes/theme.green.min.css', rel='stylesheet')
    link(href='css/theme.custom.css', rel='stylesheet')
    script(type='text/javascript', src='jquery/jquery.min.js')
    script(type='text/javascript', src='js/jquery.tablesorter.combined.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body
    div(id="wrapper")
      h1(id="logo") Killionaire
      form(id="summonerForm", name="summonerName", method="post")
        fieldset
          legend Reveal your multikills
          input(type="text", name="summonerName", placeholder="Enter your summoner name")
          div(id="region") NA
          div(id="options")
            div(data-value="na", class="option") NA
            div(data-value="euw", class="option") EUW
            div(data-value="eune", class="option") EUNE
            div(data-value="kr", class="option") KR
            div(data-value="oce", class="option") OCE
            div(data-value="br", class="option") BR
            div(data-value="lan", class="option") LAN
            div(data-value="las", class="option") LAS
            div(data-value="ru", class="option") RU
            div(data-value="tr", class="option") TR
          input(type="submit", value="Search")
      div(id="result")
    script(type='text/javascript', src='js/main.js')
