doctype html
html
  head
    title Killionaire
    link(href='/css/style.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

body
  h1 Killionaire
  form(id="summonerForm", name="summonerName", method="post")
    input(type="text", name="summonerName", placeholder="Summoner Name")
    input(type="submit", value"add")
