* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #446080;
  color: #eee;
}

#wrapper {
  margin: 0 auto;
  min-width: 250px;
  max-width: 650px;
}

#logo {
  color: #384;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 8em;
  text-shadow: 0 1px 0 #257535, 0 2px 0 #257, 0 3px 0 #162, 0 4px 0 #051, 0 5px 0 #051, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  margin-bottom: 0.5em;
}

fieldset {
  padding: 1em;
  border: 0;
}

fieldset input {
  border: none;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: -4px;
}

fieldset input[type="submit"] {
  background-color: #384;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}

fieldset input[type="submit"]:active {
  position: relative;
  top: 1px;
}

fieldset input[type="text"]:focus {
  box-shadow: 0px 0px 2px 0 #384 inset;
}

fieldset input[type="text"] {
  color: #384;
  padding-right: 46px;
  width: 240px;
}

td, th {
  padding: 0.2em;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
