* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #446080;
  color: #eee;
}

#wrapper {
  margin: 0 auto;
  min-width: 250px;
  max-width: 650px;
}

#logo {
  color: #384;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 8em;
  text-shadow: 0 1px 0 #257535, 0 2px 0 #257, 0 3px 0 #162, 0 4px 0 #051, 0 5px 0 #051, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  margin-bottom: 0.5em;
}

fieldset {
  border: 0;
  margin-bottom: 1em;
}

fieldset legend {
  margin-bottom: 0.5em;
}

fieldset input {
  border: none;
  height: 3em;
  margin-right: -4px;
  box-sizing: border-box;
}

fieldset input[type="submit"] {
  background-color: #384;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px 0px #222;
  width: 100px;
}

fieldset input[type="submit"]:active {
  box-shadow: none;
}

fieldset input[type="text"]:focus {
  box-shadow: 0px 0px 2px 0 #384 inset;
}

fieldset input[type="text"] {
  padding-left: 1em;
  color: #384;
  padding-right: 46px;
  width: 450px;
  box-shadow: 0px 0px 5px #333333;
}

fieldset #region, fieldset .option {
  background-color: #384;
  border: 0;
}

fieldset #region {
  display: inline-block;
  padding-top: 10px;
  height: 40px;
  box-shadow: 0px 0px 5px #333333;
  width: 95px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  top: 1px;
  cursor: default;
}

fieldset #options {
  display: none;
  float: left;
  margin-left: 400px;
  max-width: 260px;
  background-color: #384;
  margin-top: -45px;
  z-index: 10;
  position: relative;
  box-shadow: 0px 0px 5px #333333;
  cursor: default;
}

fieldset .option {
  width: 80px;
  height: 36px;
  padding-top: 18px;
  text-align: center;
  border: 0;
  float: left;
  position: relative;
  cursor: default;
}

fieldset .option:hover {
  background-color: #eee;
  color: #584;
}

table {
  width: 100%;
}

td, th {
  padding: 0.2em;
  text-align: left;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.header {
  display: inline-block;
  border-bottom: 1px dotted #384;
  width: 95%;
}

ul, li {
  list-style-type: none;
}

#summoner {
  background-color: #fff;
  color: #222;
  margin-bottom: 1em;
  box-shadow: 0px 0px 5px #333333;
}

#summoner h1 {
  color: rgb(245, 245, 245);
  font-size: 50px;
  background-color: #384;
  text-shadow: rgb(245, 245, 245) 0px 0px 8px;
  text-align: center;
  padding: 0.4em;
}

#summary {
  padding: 2em;
}

#summary h2 {
  border-bottom: 1px solid #384;
  margin-bottom: 0.5em;
  color: #444;
}
