* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #446080;
  color: #eee;
}

#wrapper {
  margin: 0 auto;
  min-width: 250px;
  max-width: 650px;
}

#logo {
  color: #384;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 8em;
  text-shadow: 0 1px 0 #257535, 0 2px 0 #257, 0 3px 0 #162, 0 4px 0 #051, 0 5px 0 #051, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  margin-bottom: 0.5em;
}

fieldset {
  border: 0;
  margin-bottom: 1em;
}

fieldset legend {
  margin-bottom: 0.5em;
}

fieldset input {
  border: none;
  height: 3em;
  margin-right: -4px;
  box-sizing: border-box;
}

fieldset input[type="submit"] {
  background-color: #384;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px 0px #222;
  width: 100px;
}

fieldset input[type="submit"]:active {
  box-shadow: none;
}

fieldset input[type="text"]:focus {
  box-shadow: 0px 0px 2px 0 #384 inset;
}

fieldset input[type="text"] {
  padding-left: 1em;
  color: #384;
  padding-right: 46px;
  width: 450px;
  box-shadow: 0px 0px 5px #333333;
}

fieldset #region, fieldset .option {
  background-color: #384;
  border: 0;
}

fieldset #region {
  display: inline-block;
  padding-top: 10px;
  height: 40px;
  box-shadow: 0px 0px 5px #333333;
  width: 95px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  top: 1px;
  cursor: default;
}

fieldset #options {
  display: none;
  float: left;
  margin-left: 400px;
  max-width: 260px;
  background-color: #384;
  margin-top: -45px;
  z-index: 10;
  position: relative;
  box-shadow: 0px 0px 5px #333333;
  cursor: default;
}

fieldset .option {
  width: 80px;
  height: 36px;
  padding-top: 18px;
  text-align: center;
  border: 0;
  float: left;
  position: relative;
  cursor: default;
}

fieldset .option:hover {
  background-color: #eee;
  color: #584;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.headerSum {
  display: inline-block;
  border-bottom: 1px dotted #384;
  width: 95%;
}

ul, li {
  list-style-type: none;
}

#summoner {
  background-color: #fff;
  color: #222;
  margin-bottom: 1em;
  box-shadow: 0px 0px 5px #333333;
}

#summoner h1 {
  color: rgb(245, 245, 245);
  font-size: 50px;
  background-color: #384;
  text-shadow: rgb(245, 245, 245) 0px 0px 8px;
  text-align: center;
  padding: 0.4em;
}

#summoner a {
  float: right;
  color: #00b;
  padding: 5px;
}

#summoner a:visited {
  color: #00b;
}

#summary {
  padding: 2em;
}

#summary h2 {
  border-bottom: 1px solid #384;
  margin-bottom: 0.5em;
  color: #444;
}

img {
  width: 50px;
  height: auto;
}

.tablesorter-green {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border: 1px solid #cdcdcd;
    border-width: 1px 0 0 1px
}
.tablesorter-green td,
.tablesorter-green th {
    font: 12px/18px Arial, Sans-serif;
    border: 1px solid #cdcdcd;
    border-width: 0 1px 1px 0
}
.tablesorter-green tfoot tr,
.tablesorter-green thead tr .tablesorter-header {
    background-position: center center;
    background-repeat: repeat-x;
    background-image: url(data:image/gif;base64,R0lGODlhAQBkAOYAAN/e39XU1fX19tTU1eXm5uTl5ePk5OLj4+Hi4vX29fT19PP08/Lz8vHy8fDx8O/w7+7v7uzt7Orr6ufo5/T08/Pz8ufn5uLi4eDg39/f3t3d3Nzc29HR0NDQz8/Pzuvq6urp6eno6Ojn5+fm5tfW1tbV1dTT09PS0tLR0dHQ0NDPz/f39/b29vX19fT09PPz8/Ly8vHx8e/v7+7u7u3t7ezs7Ovr6+rq6unp6ejo6Ofn5+bm5uXl5eTk5OPj4+Li4uHh4eDg4N/f397e3t3d3dzc3Nvb29ra2tnZ2djY2NfX19XV1dPT09LS0tHR0dDQ0M/Pz8rKysXFxf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFMALAAAAAABAGQAAAdegCsrLC0tLi+ILi6FCSwsCS0KkhQVDA0OMjM0NTYfICEiIzw9P0AYGUQaG0ZHSEoDTU9Qs08pTk1MSyRJR0VDQT8+PTw7Ojg3NTMyMTAvi4WOhC0vMTI1OT9GTlFSgQA7)
}
.tablesorter-green th,
.tablesorter-green thead td {
    font-weight: 700;
    border-right: #cdcdcd 1px solid;
    border-collapse: collapse;
    padding: 6px
}
.tablesorter-green .header,
.tablesorter-green .tablesorter-header-inner {
    background-position: 5px center;
    background-repeat: no-repeat;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAOYAAA5NDBBYDlWWUzRUM5DVjp7inJ/fnQ1ECiCsGhyYFxqKFRFdDhBXDQxCCiO8HSK2HCCqGh2aGByUFxuPFhqNFhmHFRZ2EhVvERRpEBBVDSS8HiGyHB+mGh6fGRuTFxiAFBd5Eww/Cgs5CRp7Fiu+JRx8GCy/JjHAKyynKCuhJzXCMDbCMDnDMyNuHz3EODy9N0LFPSl7JkvIRjycOFDKS1LKTVPLT1XLUFTCT17OWTBkLmbQYnDTbHXVcXnWdoXago/djGmUZ112XCJEIEdjRf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAEUALAAAAAAQABAAAAdlgEWCg4SFhoIvh4cVLECKhCMeJjwFj0UlEwgaMD4Gii0WFAkRHQ47BIY6IQAZDAwBCyAPOJa1toRBGBAwNTY3OT0/AoZCDQoOKi4yNDOKRCIfGycrKZYDBxIkKLZDFxy3RTHgloEAOw==);
    border-collapse: collapse;
    white-space: normal;
    cursor: pointer
}
.tablesorter-green thead .headerSortUp .tablesorter-header-inner,
.tablesorter-green thead .tablesorter-headerAsc .tablesorter-header-inner,
.tablesorter-green thead .tablesorter-headerSortUp .tablesorter-header-inner {
    background-image: url(data:image/gif;base64,R0lGODlhEAAQANUAAA5NDBBYDpDVjp7inJ/fnSCsGhyYFxFdDhBXDSO8HSK2HB2aGBuPFhqNFhmHFRZ2EhBVDSS8Hh6fGRuTFxd5Eww/Chp7Fhx8GCy/JjnDMyNuHzy9N0LFPVTCTzBkLmbQYnDTbHnWdo/djP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACMALAAAAAAQABAAAAY4wJFwSCwaj8ikcslMbpojR0bEtEwwoIHywihEOCECUvNoGBaSxEdg9FQAEAQicKAoOtC8fs8fBgEAOw==)
}
.tablesorter-green thead .headerSortDown .tablesorter-header-inner,
.tablesorter-green thead .tablesorter-headerDesc .tablesorter-header-inner,
.tablesorter-green thead .tablesorter-headerSortDown .tablesorter-header-inner {
    background-image: url(data:image/gif;base64,R0lGODlhEAAQANUAAFWWUzRUMw1EChqKFQxCCiO8HSCqGhyUFxVvERRpECGyHB+mGhiAFAs5CSu+JTHAKyynKCuhJzXCMDbCMD3EOELFPSl7JkvIRjycOFDKS1LKTVPLT1XLUF7OWXXVcYXagmmUZ112XCJEIEdjRf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACQALAAAAAAQABAAAAY4QJJwSCwaj8ikcskkghKGimbD6Xg+AGOIMChIKJcMBjlqMBSPSUQZEBwcEKYIsWiSLPa8fs9HBgEAOw==)
}
.tablesorter-green td.tablesorter-header .tablesorter-header-inner,
.tablesorter-green th.tablesorter-header .tablesorter-header-inner {
    padding-left: 23px
}
.tablesorter-green thead .tablesorter-header.sorter-false .tablesorter-header-inner {
    background-image: none;
    cursor: default;
    padding-left: 6px
}
.tablesorter-green tbody td,
.tablesorter-green tfoot th {
    padding: 6px;
    vertical-align: top
}
.tablesorter-green td {
    color: #000000;
    padding: 6px
}
.tablesorter-green tbody>tr.even.hover>td,
.tablesorter-green tbody>tr.even:hover+tr.tablesorter-childRow+tr.tablesorter-childRow>td,
.tablesorter-green tbody>tr.even:hover+tr.tablesorter-childRow>td,
.tablesorter-green tbody>tr.even:hover>td,
.tablesorter-green tbody>tr.hover>td,
.tablesorter-green tbody>tr:hover+tr.tablesorter-childRow+tr.tablesorter-childRow>td,
.tablesorter-green tbody>tr:hover+tr.tablesorter-childRow>td,
.tablesorter-green tbody>tr:hover>td {
    background-color: #d9d9d9
}
.tablesorter-green tbody>tr.odd.hover>td,
.tablesorter-green tbody>tr.odd:hover+tr.tablesorter-childRow+tr.tablesorter-childRow>td,
.tablesorter-green tbody>tr.odd:hover+tr.tablesorter-childRow>td,
.tablesorter-green tbody>tr.odd:hover>td {
    background-color: #bfbfbf
}
.tablesorter-green .tablesorter-processing {
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-image: url(data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=)!important
}
.tablesorter-green tr.odd>td {
    background-color: #ebfaeb
}
.tablesorter-green tr.even>td {
    background-color: #fff
}
.tablesorter-green td.primary,
.tablesorter-green tr.odd td.primary {
    background-color: #99e6a6
}
.tablesorter-green td.secondary,
.tablesorter-green tr.even td.primary,
.tablesorter-green tr.odd td.secondary {
    background-color: #c2f0c9
}
.tablesorter-green td.tertiary,
.tablesorter-green tr.even td.secondary,
.tablesorter-green tr.odd td.tertiary {
    background-color: #d6f5db
}
.tablesorter-green tr.even td.tertiary {
    background-color: #ebfaed
}
caption {
    background-color: #fff
}
.tablesorter-green .tablesorter-filter-row {
    background-color: #eee
}
.tablesorter-green .tablesorter-filter-row td {
    background-color: #eee;
    line-height: normal;
    text-align: center;
    -webkit-transition: line-height .1s ease;
    -moz-transition: line-height .1s ease;
    -o-transition: line-height .1s ease;
    transition: line-height .1s ease
}
.tablesorter-green .tablesorter-filter-row .disabled {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: not-allowed
}
.tablesorter-green .tablesorter-filter-row.hideme td {
    padding: 2px;
    margin: 0;
    line-height: 0;
    cursor: pointer
}
.tablesorter-green .tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}
.tablesorter-green input.tablesorter-filter,
.tablesorter-green select.tablesorter-filter {
    width: 98%;
    height: auto;
    margin: 0;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height .1s ease;
    -moz-transition: height .1s ease;
    -o-transition: height .1s ease;
    transition: height .1s ease
}
.tablesorter .filtered {
    display: none
}
.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99
}
