table, #summonerName {
  margin-left: auto;
  margin-right: auto;
}

h1, body {
  text-align: center;
  background-color: #3399FF;
}

h1 {
  color: white;
}

#summonerForm {
  height: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
